body  {
    background-image: url("pic/bg.jpg");
}
.itemInput{
    text-align: center;
    width: 35%;
    height: 100%;
    background-image: url("pic/mac.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 150%;
}
.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100%;
}