.itemInput{
    text-align: center;
    width: 35%;
    height: 100%;
    background-image: url("pic/mac.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 150%;
}

.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100%;
}

.itemShow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 60px;
    margin-left: 50%;
    padding: 0;
    height: 300px;
}