.itemInput{
    text-align: center;
    min-width: 500px;
    height: 850px;
    background-image: url("pic/mac.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 150%;
}

.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
}

.itemShow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 136px;
    margin-bottom: 7px;
    margin-left: 213px;
    height: 300px;
}