/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #ffc5ee;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s;

    /* style */
    border-radius: 25px;
    border: 2px solid rgb(255, 129, 192);
    padding: 20px;
}

/* The Close Button */
.close {
    border-radius: 10px;
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    top: -12px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#myBtn {
    position: relative;
    top: 16px;
    right: 16px;
    background-color: pink;
    background-image: url("pic/helpbtn.png"); 
    background-size: cover; 
    background-position: -10px 0px;
    border-radius: 10px;
    width: 190px;
    height: 100px;
}