.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 60px;
    padding: 0;
    height: 300px
}

html {
    height: 100%;
}

body {
    background-image: url("pic/bg.jpg");
    background-color: #e69a8dff;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
}

.cone{
    width: 71px;
    height: 71px;
    margin-left: 3px;
}

.ice1{
    width: 55px;
    height: 53px;
    margin-bottom: -12px;
    margin-left: 11px;
}

.ice23{
    width: 55px;
    height: 53px;
    margin-bottom: -25px;
    margin-left: 11px;
}

.topping{
    width: 60px;
    height: auto;
    margin-bottom: -28px;
    margin-left: 9px;
}

.topping2{ 
    width: 60px;
    height: auto;
    margin-bottom: -60px;
    margin-left: 9px;
}

.disnone{
    display: none;
}

#stateImg {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

#TotalCoin{
    font-size: 30px;
    position : relative;
    top : 0px;
    left : 0px;
}

#counter{
    font-size: 30px;
    position: relative;
    top : -364px;
    left : 0px;
}

#coin1 { 
    background-image: url("pic/coinBtn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#coin1:disabled { 
    opacity: 0.5;
} 

#coin2 { 
    background-image: url("pic/coinBtn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#coin2:disabled { 
    opacity: 0.5;
} 

#cone { 
    background-image: url("pic/coneBtn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#cone:disabled { 
    opacity: 0.5;
} 

#cup { 
    background-image: url("pic/cupBtn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#cup:disabled {  
    opacity: 0.5;
} 

#flavour1 { 
    background-image: url("pic/flavor1Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#flavour1:disabled { 
    opacity: 0.5;
} 

#flavour2 { 
    background-image: url("pic/flavor2Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#flavour2:disabled {  
    opacity: 0.5;
} 

#flavour3 { 
    background-image: url("pic/flavor3Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#flavour3:disabled { 
    opacity: 0.5;
} 

#topping1 { 
    background-image: url("pic/top1Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#topping1:disabled { 
    opacity: 0.5;
} 

#topping2 { 
    background-image: url("pic/top2Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#topping2:disabled { 
    opacity: 0.5;
} 

#topping3 { 
    background-image: url("pic/top3Btn.png"); 
    background-size: cover; 
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
} 

#topping3:disabled { 
    opacity: 0.5;
} 

#reset {
    background-image: url("pic/takeitembtn.png"); 
    background-size: cover; 
    border-radius: 10px;
    width: 218px; 
    height: 50px;
}

#reset:disabled {
    opacity: 0.5;
}